body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Roboto Mono", monospace;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 2fr;
  grid-template-areas: "header header header" "main main main" "aside aside aside" "form form form" "footer footer footer";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

header {
  grid-area: header;
  display: flex;
  display: block;
  flex-wrap: wrap;
  margin: 20px;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

form {
  grid-area: form;
}

footer {
  grid-area: footer;
}

header .inicio {
  font-size: 12px;
  padding: 7px;
  margin: 40px;
  border: 1px solid #000;
  border-radius: 10px;
}
header .nombre {
  color: #911;
  text-align: center;
  font-size: 40px;
}
header .icono {
  margin: 0;
  padding-top: 20px;
  width: 200px;
  margin-right: 30px;
}
header .header {
  text-align: center;
  width: 1500px;
}
header .logo {
  text-align: center;
  flex-wrap: wrap;
  width: 1400px;
}
header li {
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5px;
}
header nav ul :hover {
  background-color: #911;
  transition: 1s;
  color: #fff;
}
header a {
  text-decoration: none;
  color: #000;
}

ul li {
  display: inline-block;
  padding: 10px;
}

main .img {
  width: 300px;
  height: 300px;
}
main .parrafo {
  margin: 10px;
  padding: 10px;
}
main .parrafocont {
  padding: 40px;
  text-align: center;
  font-size: 20px;
}
main .nombre {
  color: #911;
  text-align: center;
  font-size: 40px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}

.cards {
  margin: 15px;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: #555;
  color: #fff;
  transition: transform 2s;
}

.cards, .cards-atras {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cards-atras {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #555;
  color: #fff;
}

section article:hover {
  transform: rotateY(180deg);
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.carousel-item {
  max-height: 450px;
  max-width: 1500px;
  text-align: center;
}

/* //grid-noticias// */
.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "aside aside aside" "footer footer footer";
}

main {
  grid-area: main;
}

.noticias {
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  right: 300px;
  display: flex;
}

.contacto {
  text-align: center;
  font-size: 35px;
  color: #009;
}

.promocion {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  color: #083;
}

aside .aside {
  text-align: start;
  padding: 50px;
}
aside .nombre {
  color: #911;
  text-align: center;
  font-size: 40px;
}
aside .card {
  margin: 10px;
  border: 1px solid #000;
  border-radius: 10px;
}
aside .contacto {
  text-align: center;
  font-size: 35px;
  color: #009;
}
aside .parrafocont {
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

.titulocentral {
  text-align: center;
  padding: 15px;
  margin: 10px;
}

.parrafosobre {
  font-size: 17px;
  text-align: center;
}

.telefono {
  text-align: center;
}

.noticias {
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  right: 300px;
  display: flex;
}

.contaside {
  text-align: center;
}

.lugarpromo {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.parrapromo {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.imgbanco {
  font-size: 30px;
  text-align: center;
  color: #009;
}

.imgban {
  text-align: center;
  padding: 20px;
}

.promociones {
  text-align: center;
}

.formularios {
  width: 300px;
  height: 100%;
  margin: auto;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.form {
  padding: 5px;
}

.footer {
  width: 1500px;
  text-align: center;
  margin-bottom: 10px;
  margin: 30px;
  background-color: hsl(44, 24%, 60%);
  color: #fff;
}

.footer a {
  color: #fff;
}

.iconofot {
  width: 30px;
}

.iconowat {
  width: 40px;
  border-radius: 60px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

@media screen and (max-width: 550px) {
  body {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
  }
  header {
    font-size: 20px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  h1, h2 {
    font-size: 40px;
  }
  header img {
    display: none;
  }
  aside {
    display: none;
  }
  main {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  form {
    display: flex;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
