   @import "../modulos/variables";
   @import "../modulos/mixin";
   @import "../modulos/body";
   @import "../modulos/header";    
   @import "../modulos/main";
   @import "../modulos/aside";
   @import "../modulos/form";
   @import "../modulos/footer";
  
 @media ( max-width: 768px) {
      body{
        background-color: #fff;
        width: 200px;
       }

    header{
        font-size: 20px;
        width: 200px;
        
              
    }  
    .header img{
        display: none;
     }
    
     
    aside{
        display: none;
     
       }

  main{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
  }
  
 }