   @import "../modulos/variables";
   @import "../modulos/mixin";
   @import "../modulos/body";
   @import "../modulos/header";    
   @import "../modulos/main";
   @import "../modulos/aside";
   @import "../modulos/form";
   @import "../modulos/footer";
  
  @media screen and (max-width: 550px){

      body{
        background-color: #fff;
        display: flex;
          flex-wrap: wrap;
          
       
        }
        header{
           font-size: 20px;
          width: 100px;
          display: flex;
          flex-wrap: wrap;
         }

         h1, h2{
          font-size: 40px;
         }

           header img {
             display: none;
              
           }

           aside{
            display: none;

              }

           main{
            font-size: 20px;
            display: flex;
            flex-wrap: wrap;
            
           } 
           form{ 
            display: flex;
            flex-wrap: wrap;
           }
           

         footer{
           display: flex;
          flex-wrap: wrap;
          } 
          
          }


   

    
  
    
 
 
