
footer{
    .footer {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin: 30px;
        background-color: #999;
        color: #fff;
        
    }
    
    .iconofot{
        width: 30px;
    
    }
    .iconowat{
        width: 40px;
        border-radius: 60px;
        position: fixed;
        right: 50px;
        bottom: 50px;
       
        }
        
    .footer a{
        color: #fff;
    }
    

}

