  

    .footer {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin: 30px;
        background-color: hsl(44, 24%, 60%);
        color: $blanco;
       }

       .footer a{
        color: $blanco;
     }
    
    .iconofot{
        width: 30px;
    
    }

    
    .iconowat{
        width: 40px;
        border-radius: 60px;
        position: fixed;
        right: 50px;
        bottom: 50px;
       
        } 

    


  


   




 

    
   



