header{

    

    .inicio {
        font-size: 12px;
        padding: 7px;
        margin: 40px;
        border: 1px solid $negro;
        border-radius: 10px;      
      }
       

    .nombre{
     
      @include titulo;
    }

    
    .icono{
      margin: 0;
      padding-top: 20px;
      width: 200px;
      margin-right: 30px;
      
    
    }
    
    .header {
         text-align: center;
         width: 90%;
         
    
         }
    
    .logo {
        text-align: center;
        flex-wrap: wrap;
        width: 1000px;
        }
    
    
    
     li {
        border: 1px solid $negro; 
        border-radius: 10px;
        margin: 5px;  
    }
    
    nav ul :hover {
        background-color: #911;
        transition: 1s;
        color: $blanco;
      }
    
    a {
        text-decoration: none;
        color: $negro;
    }
    
  
   }

   ul li {  
       display: inline-block;
       padding: 10px;
       
     }

 
 

