main{

    .img {
        width: 300px;
        height: 300px; 
       
       
       }
    
    .parrafo {
    margin: 10px;
    padding: 10px;
    
    }

    .parrafocont {
      padding: 40px;
      text-align: center;
       font-size: 20px;
       }
   

    
    .nombre {
      color: #911;
      text-align: center;
      font-size: 40px; 
      } 
    
  
     }

     .card{
      display: flex;
      flex-wrap: wrap;
        margin: 10px;
        border: 1px solid $negro;
        border-radius: 10px;
      
       }
       .cards{
         margin: 15px;
         border: 2px solid $negro;
         border-radius: 15px;
         background-color: #555;
         color: $blanco;
         transition:transform 2s;
       }
       .cards, .cards-atras{
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
       }

       .cards-atras{
         position: absolute;
         top: 0;
         width: 100%;
         height: 100%;
         background-color: #555;
         color: $blanco;
       }
          
         section article:hover{
            transform: rotateY(180deg);
         }
  
          .imagenes {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-around;
            
         }
         
         .carousel-item{
            max-height: 450px;
            max-width: 1500px;
            text-align: center;
         }
         
    
    
      /* //grid-noticias// */
     .grid-container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas: 
       "header header header"
       "main main main"
       "aside aside aside"
       "footer footer footer";
        
         }
        
        main{
           grid-area: main;
         }

        
        
         .noticias {

            font-size: 15px;
            padding: 20px;
            margin: 20px;
            width: 300px;
            right: 300px;
            display: flex;
            
            }

         
            .contacto {
               text-align: center;
               font-size: 35px;
               color: #009;
               }
        
        .promocion {
            padding: 20px;
            font-size: 40px;
            text-align: center;
            color: #083;
        }   

    


   
