main{
    .img {
        width: 300px;
        height: 300px; 
       
       
       }
    
    .parrafo {
    margin: 10px;
    padding: 10px;
    
    }

    
    .nombre {
      color: #911;
      text-align: center;
      font-size: 40px; 
      } 
    
  
     }

     .card{
        margin: 10px;
        border: 1px solid #000;
        border-radius: 10px;
      
       }
      
       
          
          .imagenes {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-around;
            
         }
         
    
    
      /* //grid-noticias// */
     .grid-container{
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "main main main"
        "aside aside aside"
        "footer fooetr foter";
        
         }
        
         main{
            grid-area: main;
         }
        
         .noticias {

            font-size: 15px;
            padding: 20px;
            margin: 20px;
            width: 300px;
            right: 300px;
            display: flex;
            
            }
        
     
   
        
        .promocion {
            font-size: 40px;
            text-align: center;
            color: #083;
        }   


   
